<section>
    <header>
        <h1>Timeline</h1>
    </header>
    <div class="content">

        <article>
            <header>
                <h2>Example</h2>
            </header>
            <div class="content">

                <div style="height: 200px; width: 100%;">
                    <ng-container *ngIf="loader">
                        <inu-svg-timeline   styleclass="current-timeline"
                                            [loader]="loader"
                                            [from]="from"
                                            [until]="until"
                                            [resolution]="300"
                                            [timer]="timer.easeOutQuad"
                                            [duration]="2000"
                                            [delay]="1000">
                        </inu-svg-timeline>
                    </ng-container>
                </div>
            </div>
        </article>

        

    </div>
</section>