<div [class]="mainPageStyleClass">
  <div class="page-layout">


    <!--================================================================================================================
    = MAIN MENU
    =================================================================================================================-->
    <div class="main-menu">
      <menu>
        <header>
          <inu-icon [icon]="icon.inugami" styleclass="inugami-icon"></inu-icon>
          <h1>Inugami components</h1>
        </header>
        
        <inu-menu-links [data]="menuLinks"></inu-menu-links>

      </menu>
    </div>
    
    <!--================================================================================================================
    = CONTENT
    =================================================================================================================-->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

