body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee ;
    font-family: 'Roboto';font-size: 20px;

    --white: #ffffff;
    --primary: #0D4457;
    --primary-light: #176580;
    --primary-light-active: #1d5d72;
    --primary-background-light: #acacac;
    --primary-background-dark: #2C3E50;
    --primary-font: #181818;
    --primary-font-light: #e4e4e4;
    --secondary:#570D20;
    --secondary-font-light: #e4e4e4;
    --background: #eee9e9;
    --menu-background: #fcf6f6;
    --menu-background-border: #bdbaba;


    --endpoint-font-color: #3b4151;
    --endpoint-verb-font-color: #3b4151;
    /** GET---------------------------------------*/
    --endpoint-get-background: #d9d6fe;
    --endpoint-get-background-darker: #3f5470;
    --endpoint-get-detail-background: #f7f7ff;
    
    /** HEAD-------------------------------------*/
    --endpoint-head-background: #e7ddbd;
    --endpoint-head-background-darker: #443f70;
    --endpoint-head-detail-background: #f9fbff;

    /** POST---------------------------------------*/
    --endpoint-post-background: #bef0c6;
    --endpoint-post-background-darker: #457040;
    --endpoint-post-detail-background: #f2fcf4;

    /** PUT----------------------------------------*/
    --endpoint-put-background: #b9e6fe;
    --endpoint-put-background-darker: #5f5033;
    --endpoint-put-detail-background: #f1faff;

    /** PATCH-------------------------------------*/
    --endpoint-patch-background: #fddcab;;
    --endpoint-patch-background-darker: #245452;
    --endpoint-patch-detail-background: #fff8ee;

    /** DELETE-----------------------------------*/
    --endpoint-delete-background: #fecdca;
    --endpoint-delete-background-darker: #623F55;
    --endpoint-delete-detail-background: #fff5f4;

    /** OPTIONS*/
    --endpoint-option-background: #ffd4e0;
    --endpoint-option-background-darker: #372E34;
    --endpoint-option-detail-background: #fff6f9;


    /** TRACE-----------------------------------*/
    --endpoint-trace-background: #c1ccda;
    --endpoint-trace-background-darker: #e6ebf5;
    --endpoint-trace-detail-background: #dbdfe7;

    --danger: #dc0000;
    --danger-dark: #b50000;
    --danger-light: #ff4141;
    --danger-light-active: #fd6161;
    --danger-font: #e4e4e4;
    --fatal: #830202;
    --fatal-light: #dc0000;;
    --fatal-light-active: #ff4141;
    --fatal-dark: #5a0202;
    --fatal-font: #e4e4e4;
    --warning: #ff6600;
    --warning-dark: #b54800;
    --warning-light: #ff9900;
    --warning-light-active: #f7b34d;
    --warning-font:#181818;
    --success: #009100;
    --success-dark: #005b00;
    --success-light: #9ade00;
    --info:#0084c8;
    --info-dark:#005c94;
    --info-light:#19aeff;
    --info-light-active:#4abefc;
    --info-font:#e4e4e4;

    --neutral:#999494;
    --neutral-dark:#635f5f;
    --neutral-light:#cccccc;


    --dark-light: #454350;
    --dark: #1F1E26;
    --darker: #14131a;

    --emphase-lighter: #eae8fc;
    --emphase: #d9d6fe;
    --emphase-darker: #a3a1c7;

    --secondary-lighter: #C880AF;
    --secondary-lighter-active: #daa0c5;
    --secondary: #8C5A7B;
    --secondary-darker: #623F55;
    --secondary-font-light:#e4e4e4;


    --neutral-lighter: #f1eeeb;
    --neutral-lighter-active: #f5ebe3;
    --neutral: #f7f7f7;
    --neutral-lighter-font: #554a4a;
    --neutral-font: #262424;
    --neutral-darker: #dacdc3;

    --focus-lighter: #dbc888;
    --focus: #D4C48C;
    --focus-darker: #B3A476;
    
    --focus-emphase-lighter: #F6C199;
    --focus-emphase: #FFC89E;
    --focus-emphase-darker: #B38C6F;


}

.inu-col{
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
}
.inu-row{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inu-nowrap{
    flex-wrap: nowrap;   
}
.inu-unset{
    flex-wrap: unset;   
}

.flex-1{
    flex: 1;
}

.inu-w-10{
    width: 10%;
}
.inu-w-20{
    width: 20%;
}
.inu-min-w-30{
    width: 30%;
}

.inu-w-10{
    width: 10%;
}
.inu-w-20{
    width: 20%;
}

.inu-w-30{
    width: 30%;
}
.inu-w-40{
    width: 40%;
}
.inu-w-50{
    width: 50%;
}
.inu-w-60{
    width: 60%;
}
.inu-w-70{
    width: 70%;
}
.inu-w-80{
    width: 80%;
}
.inu-w-90{
    width: 90%;
}


.inu-min-w-10{
    min-width: 10%;
}
.inu-min-w-20{
    min-width: 20%;
}
.inu-min-w-30{
    min-width: 30%;
}

.inu-min-w-40{
    min-width: 40%;
}
.inu-min-w-50{
    min-width: 50%;
}
/**
gap
**/
.inu-gap-1{
    gap:1rem
}
.inu-gap-2{
    gap:2rem
}
.inu-gap-3{
    gap:3rem
}

/**
width
**/
.inu-w-49{
    width: 49%;
}

.inu-w-50{
    width: 49%;
}


/*******************************************************************************
* BUTTON
*******************************************************************************/
.inu-button{
    font-weight: bold;
    padding: 0.25rem;

    &.primary{
        border: 1px solid var(--primary-background-dark);
        background-color:  var(--primary);
        color:var(--primary-font-light);
        &:hover{
            background-color:  var(--primary-light); 
        }
        &:active{
            background-color:  var(--primary-light-active); 
        }
    }
    &.secondary{
        border: 1px solid var(--secondary-darker);
        background-color:  var(--secondary);
        color:var(--secondary-font-light);
        &:hover{
            background-color:  var(--secondary-lighter); 
        }
        &:active{
            background-color:  var(--secondary-lighter-active); 
        }
        
    }
    &.neutral{
        border: 1px solid var(--neutral-darker);
        background-color:  var(--neutral);
        color:var(--neutral-font);
        &:hover{
            background-color:  var(--neutral-lighter); 
        }
        &:active{
            background-color:  var(--neutral-lighter-active); 
        }
    }
    &.info{
        border: 1px solid var(--info-dark);
        background-color:  var(--info);
        color:var(--info-font);
        &:hover{
            background-color:  var(--info-light); 
        }
        &:active{
            background-color:  var(--info-light-active); 
        }
    }
    &.warn{
        border: 1px solid var(--warning-dark);
        background-color:  var(--warning);
        color:var(--warning-font);
        &:hover{
            background-color:  var(--warning-light); 
        }
        &:active{
            background-color:  var(--warning-light-active); 
        }
    }
    &.error{
        border: 1px solid var(--danger-dark);
        background-color:  var(--danger);
        color:var(--danger-font);
        &:hover{
            background-color:  var(--danger-light); 
        }
        &:active{
            background-color:  var(--danger-light-active); 
        }
    }
    &.fatal{
        border: 1px solid var(--fatal-dark);
        background-color:  var(--fatal);
        color:var(--fatal-font);
        &:hover{
            background-color:  var(--fatal-light); 
        }
        &:active{
            background-color:  var(--fatal-light-active); 
        }
    }
}

