<section>
    <header>
        <h1>Clock</h1>
    </header>
    <div class="content">

        <!--********************************************************************
        ** 
        *********************************************************************-->
        <article>
            <header>
                <h2>Default</h2>
            </header>

            <div class="inu-row inu-gap-2">
                <div class="content flex-1">
                    <inu-clock></inu-clock>
                </div>
    
    
                <aside class="inu-col inu-gap-2 inu-w-40">
                    <div>
                        <inu-code *ngIf="sourceCodes"
                          title="Default example"
                          languages="xml"
                          [source]="sourceCodes['defaultExample']"></inu-code>
                    </div>
                </aside>
            </div>
        </article>

        <!--********************************************************************
        ** 
        *********************************************************************-->
        <article>
            <header>
                <h2>With format defined</h2>
            </header>

            <div class="inu-row inu-gap-2">
                <div class="content flex-1">
                    <inu-clock timeFormat="YYYY-MM-DD HH:mm:ss"></inu-clock>
                </div>
    
    
                <aside class="inu-col inu-gap-2 inu-w-40">
                    <div>
                        <inu-code *ngIf="sourceCodes"
                          title="with time format"
                          languages="xml"
                          [source]="sourceCodes['withTimeFormat']"></inu-code>
                    </div>
                </aside>
            </div>
        </article>
    </div>
</section>
